body {
  font-size: 100%;
  background-color: #FAFBFC;
}
h1 {
text-align: center;
font-size: 4em;  /* 16x4=64 */
display: inline;
background-color: #E90C36;
color: #fff;
padding: 3px;
padding-left: 15px;
padding-right: 15px;
}

h2 {
 font-size: 2.125em;   /* 16x2.125=34 */
 color: #2c2c2c;
}
h3 {
 font-size: 1.375em; /* 16x1.375=22 */
 color: #616161;
}
h4 {
 font-size: 1.300em; /* 16x1.125=18 */
 color: #616161;
}
p  {
 font-size: 0.875em;  /* 16x0.875=14 */
 color: #000;
}

li {
  font-size: 1.125em;
  color: #2c2c2c;
}

#example-styles{
  margin-top: 5%;
}

#example-styles h2{
  margin-top: 2%;
}

#example-styles h1, #example-styles h2, #example-styles h3, #example-styles h4, #example-styles p, #example-styles li{
  margin-bottom: 2%;
}
